{% include 'header.html' %}

<body>
<div class="container">
    <p>Morse code is a method used in telecommunication to encode text characters as standardized sequences of two different
        signal durations, called dots and dashes, or dits and dahs. Morse code is named after Samuel Morse, one of the early
        developers of the system adopted for electrical telegraphy.</p>

    <p>International Morse code encodes the 26 basic Latin letters a to z, one accented Latin letter (é), the Arabic
        numerals, and a small set of punctuation and procedural signals (prosigns). There is no distinction between
        upper and lower case letters. Each Morse code symbol is formed by a sequence of dits and dahs. The dit
        duration can vary for signal clarity and operator skill, but for any one message, once established it is the
        basic unit of time measurement in Morse code. The duration of a dah is three times the duration of a dit
        (although some telegraphers deliberately exaggerate the length of a dah for clearer signalling). Each dit or dah
        within an encoded character is followed by a period of signal absence, called a space, equal to the dit
        duration. The letters of a word are separated by a space of duration equal to three dits, and words are
        separated by a space equal to seven dits.</p>
    <br>
    <p>To learn more about Morse Code please visit this website:</p>
    <a href="https://en.wikipedia.org/wiki/Morse_code">Morse Code Wiki</a>
</div>

{% include 'footer.html' %}
</body>