{% include "header.html" %}
<!--Form-->
<div class="container">
    <p>When typing in Morse, please separate the characters by spaces, and spaces between words by a forward slash.</p>
    <p>"hello there" = .... . .-.. .-.. --- / - .... . .-. .</p>
</div>
<div class="container">
  <form method="post">
      <label>Text to Convert</label>
      <div>
          {% if placeholder %}
          <textarea class="form-control" placeholder="{{ placeholder }}" id="placeholder" rows="3"
                    name="to_convert"></textarea>
          {% endif%}
          {% if to_convert %}
          <textarea class="form-control" placeholder="{{ placeholder }}" id="to_convert" rows="3"
                    name="to_convert">{{ to_convert }}</textarea>
          {% endif %}
          <div>
              <br>
          <input class="form-control" type="submit" value="Ok">
              <br>
          </div>
      </div>
      <div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p style="color: red">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
      </div>
      <br>
      <div>
          <label>Converted Text</label>

          <textarea class="form-control" id="textarea-morse" rows="3" readonly>{{ converted_string }}</textarea>

      </div>
  </form>
</div>
<!--Footer-->

</body>
</html>